<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luis.smarthouse">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".add_user"
            android:parentActivityName=".login" />
        <activity
            android:name=".add_tab2"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".info"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".add_tab3"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".add_tab4"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".add_tab5"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".add_tab6"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dispositivos"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".editar"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>